{% extends "::base.html.twig" %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900"/>
    <link rel="stylesheet" type="text/css"
          href="/themes/reset.css">

{% endblock %}

{% block body %}

    <div id="content">

        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('cms_core_login_check') }}" method="post">
            <h1>Login</h1>

            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>
            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                <label for="remember_me">Keep me logged in</label>
            </div>

            <input type="submit" name="login"/>
        </form>
    </div>
{% endblock %}
